{% extends "layout.html" %}
{% block body %}

    <h1>Create a New Note</h1>
    <a href="{{ url_for('main') }}">Back to Notes</a>
    <form method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" required>
        <label for="content">Content:</label>
        <textarea name="content" rows="4" required></textarea>
        <button type="submit">Create</button>
    </form>
    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}

