<!DOCTYPE html>
<html>
<head>
    <title>Notes App</title>
    <!-- Include Bootstrap via a Content Delivery Network (CDN) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <header class="bg-primary text-white p-4">
        <div class="container align-center">
            <h1 >Notes</h1>
            <a href="{{ url_for('create') }}" class="btn btn-success">Create a New Note</a>
        </div>
    </header>
{% block body %}
{% endblock %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>