{% extends "layout.html" %}
{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <div class="note-list">
                    {% if notes %}
                        {% for note in notes %}
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">{{ note.title }}</h5>
                                    <p class="card-text">{{ note.content }}</p>
                                    <p class="card-text">ID: {{ note['_id'] }}</p>
                                    <p class="card-text">Created At: {{ note.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                                    <div class="text-center">
                                        <a href="{{ url_for('read', id=note['_id']) }}" class="btn btn-secondary mr-2">View</a>
                                        <a href="{{ url_for('update', id=note['_id']) }}" class="btn btn-warning mr-2">Edit</a>
                                        <a href="{{ url_for('delete', id=note['_id']) }}" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-center">You don't have any notes yet. <a href="{{ url_for('create') }}" class="btn btn-primary">Create one now</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
